body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

h3 {
    color: #000000;
}

#title-container {
    text-align: left;
    margin-top: 120px;
    position: relative;
    z-index: 1;
    justify-content: left;
    align-items: left;
    display: flex;
}

#title {
    font-size: 24px;
    color: #ffffff;
}      

#descriptionContainer {
    max-width: 800px;
    width: 100%;
    margin: 20px 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    padding: 20px;
}

a {
    color:  #2de3ff;
    text-decoration: none;
}

a:hover {
    color: #d61a3c;
}